<button nz-button (click)="addRow()" nzType="primary">Add</button>
<br />
<br />
<nz-table
  #basicTable
  [nzData]="rows"
  nzBordered
  nzSize="middle"
  [nzScroll]="{ x: '2200px', y: '240px' }"
>
  <thead>
    <tr *ngFor="let header of headers">
      <ng-container *ngFor="let item of header?.items">
        <ng-container *ngIf="item?.rowSpan || item?.colSpan; else thTmpl">
          <th
            [nzWidth]="item?.width"
            *ngIf="item?.rowSpan"
            [attr.rowspan]="item?.rowSpan"
          >
            {{ item?.name }}
          </th>
          <th
            *ngIf="item?.colSpan"
            [attr.colspan]="item?.colSpan"
            [nzWidth]="item?.width"
          >
            {{ item?.name }}
          </th>
        </ng-container>
        <ng-template #thTmpl>
          <th>{{ item?.name }}</th>
        </ng-template>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <ng-container *ngFor="let column of columns">
        <td>
          <ng-container *ngIf="!column?.cellTemplate; else cellTemplate">
            <ng-container *ngIf="!column?.uiType; else componentsTmpl">
              <span>{{ data[column.mappedId] }} haha</span>
            </ng-container>
            <ng-template #componentsTmpl>
              <ng-container [ngSwitch]="column?.uiType">
                <ng-container *ngSwitchCase="'date'">
                  <section [style.width]="column?.width">
                    <nz-select [(ngModel)]="mode">
                      <nz-option nzValue="date" nzLabel="Date"></nz-option>
                      <nz-option nzValue="week" nzLabel="Week"></nz-option>
                      <nz-option nzValue="month" nzLabel="Month"></nz-option>
                      <nz-option nzValue="year" nzLabel="Year"></nz-option>
                    </nz-select>
                    <nz-date-picker [nzMode]="mode"></nz-date-picker>
                  </section>
                </ng-container>

                <ng-container *ngSwitchCase="'select'">
                  <nz-select
                    [style.width.%]="80"
                    [(ngModel)]="selectedUser"
                    (nzScrollToBottom)="loadMore()"
                    nzPlaceHolder="Select users"
                    nzAllowClear
                    [nzDropdownRender]="renderTemplate"
                  >
                    <nz-option
                      *ngFor="let o of optionList"
                      [nzValue]="o"
                      [nzLabel]="o"
                    ></nz-option>
                  </nz-select>
                  <ng-template #renderTemplate>
                    <nz-spin *ngIf="isLoading"></nz-spin>
                  </ng-template>
                </ng-container>

                <ng-container *ngSwitchCase="'number'">
                  <nz-input-number
                    [(ngModel)]="demoValue"
                    [nzMin]="1"
                    [nzMax]="10"
                    [nzStep]="1"
                  >
                  </nz-input-number>
                </ng-container>

                <ng-container *ngSwitchCase="'money'">
                  <nz-input-number
                    [(ngModel)]="demoValue"
                    [nzMin]="1"
                    [nzMax]="100"
                    [nzStep]="1"
                    [nzFormatter]="formatterDollar"
                    [nzParser]="parserDollar"
                  ></nz-input-number>
                </ng-container>

                <ng-container *ngSwitchCase="'percentage'">
                  <nz-input-number
                    [(ngModel)]="demoValue"
                    [nzMin]="1"
                    [nzMax]="100"
                    [nzStep]="1"
                    [nzFormatter]="formatterPercent"
                    [nzParser]="parserPercent"
                  ></nz-input-number>
                </ng-container>

                <span *ngSwitchDefault> {{ data[column.mappedId] } huhu</span>
              </ng-container>
            </ng-template>
          </ng-container>
          <ng-template
            #cellTemplate
            [ngTemplateOutlet]="column?.cellTemplate"
            [ngTemplateOutletContext]="{
              data: data[column.mappedId],
              row: data
            }"
          >
          </ng-template>
        </td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>
